/* normalize.css */
@import url(../vendor/normalize.css);

/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap');

.button {
	display: block;
	padding: 0;
	border: none;
	background-color: inherit;
}
.button:hover {
	cursor: pointer;
}

.page {
	width: 100%;
	max-width: 527px;
	background-color: #fff;
	font-family: 'Roboto';
}

.header {
	padding: 0 15.5px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.09);
}

.header__year-row {
	padding: 7px 0;
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.18px;
	color: #1b1b1b;
}

.header__month-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__today-btn {
	height: fit-content;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.0018em;
	color: #0994c0;
}

.header__month-wrap {
	display: flex;
	justify-content: space-between;
}

.header__month-btn {
	width: 44px;
	height: 44px;
}

.header__month-btn_type_left {
	background: content-box url(./images/left-arrow.svg);
	padding: 9.2px 16.5px 9.2px 14.7px;
}

.header__month {
	font-weight: 500;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: 0.18px;
	color: #1b1b1b;
}

.header__year-for-mobile {
	display: none;
}
.header__year-for-mobile_visible {
	display: block;
}

.header__current-period-row {
	padding: 7px 0;
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.18px;
	color: #bf1523;
}
