/* normalize.css */
@import url(./vendor/normalize.css);

/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap');

.button {
	display: block;
	padding: 0;
	border: none;
	background-color: inherit;
}
.button:hover {
	cursor: pointer;
}

.calendar {
	margin: auto;
	width: 100%;
	max-width: 527px;
	background-color: #fff;
	font-family: 'Roboto';
}

.calendar-header {
	padding: 0 15.5px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.09);
}

.calendar-header__year-row {
	padding: 8px 0 7px;
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.18px;
	color: #1b1b1b;
}

.calendar-header__month-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.calendar-header__today-btn {
	height: fit-content;
	font-family: 'Inter';
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.0018em;
	color: #0994c0;
}

.calendar-header__month-container {
	width: 56.5%;
	padding-right: 16px;
	display: flex;
	justify-content: space-between;
}

.calendar-header__month-btn {
	width: 44px;
	height: 44px;
}
.calendar-header__month-btn_type_left {
	background: content-box url(./images/left-arrow.svg);
	padding: 9.2px 16.5px 9.2px 14.7px;
}
.calendar-header__month-btn_type_right {
	background: content-box url(./images/right-arrow.svg);
	padding: 9.2px 14.7px 9.2px 16.5px;
}

.calendar-header__month {
	font-weight: 500;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: 0.18px;
	color: #1b1b1b;
}

.calendar-header__year-for-mobile {
	display: none;
}
.calendar-header__year-for-mobile_visible {
	display: block;
}

.calendar-header__current-period-row {
	padding: 8px 0;
	min-height: 21.6px;
	display: block;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.18px;
	color: #bf1523;
}

.calendar-grid {
	padding: 53px 27px 24px 24px;
	box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.09);
}

.calendar-grid__days-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template: repeat(6, 54px) / repeat(7, 1fr);
}

.calendar-grid__item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed #fff;
	font-weight: 400;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.18px;
	position: relative;
}
.calendar-grid__item:hover {
	border-color: #787878;
}
.calendar-grid__item_type_title:hover {
	border-color: #fff;
}
.calendar-grid__item_type_desibled {
	color: #c4c4c4;
}
.calendar-grid__item_type_actual {
	border-style: solid;
	border-color: #000;
}
.calendar-grid__item_type_pressed {
	background: #f0d6d8;
	border-style: solid;
	border-color: #bf1523;
}

.calendar-grid__events-wrap {
	position: absolute;
	top: 40px;
	width: 29%;
	height: fit-content;
	display: flex;
	justify-content: space-evenly;
}

.calendar-grid__event {
	width: 4px;
	height: 4px;
	background: content-box #bf1523;
}
